<section id="about" class="about">
      <div class="container" data-aos="fade-up" >

        <div class="row">

        <div class="col-lg-2 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
          <div class="">
            <%= image_tag "bis-login.jpg", style:"heitgh: 100px; width: 250px;" %>
          </div>
          <div class="">
            <%= image_tag "bis-menu.jpg", style:"heitgh: 100px; width: 250px;" %>
          </div>
         
        </div>

        <div class="col-lg-2 order-2 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
           <div class="">
            <%= image_tag "bis-transfer.jpg", style:"heitgh: 100px; width: 250px;" %>
          </div>
          <div class="">
            <%= image_tag "bis-home.jpg", style:"heitgh: 100px; width: 250px;" %>
          </div>
          

        </div>

          <div class="col-lg-6 pt-4 pt-lg-0 order-3 order-lg-1 content">
          
            <h3>BankInSpace</h3>

            <p class="font-italic">

              Feito com intuíto de facilitar o processo de pagamento, o BankInSpace é uma plataforma que permite que os usuários do sistema possam realizar pagamentos de forma rápida e segura
              utilizando a Outerspace Blockchain e suas criptomoedas.
            
            </p>

            <h3>Outerspace Coin (OC$)</h3>

            <p class="font-italic">

              Outerspace Coin (OC$) é a mais nova criptomoeda do mercado, gerada a partir de cursos da aplicação DevInSpace, permitirá que professores e estudantes ganhem dinheiro ao longo do tempo.
              Monetizar o tempo de estudo é uma das principais vantagens da criptomoeda, pois o professor poderá aumentar o valor do curso, aumentando o valor do dinheiro que o professor ou estudante poderá ganhar.

            </p>

            <h3> Porque utilizar BankInSpace? </h3>
            
            <p>

              BankInSpace será a carteira oficial da criptomoeda OC$ e possuíra integração com todas aplicação da Outersapce como o <a href="https://devinspace.herokuapp.com"> DevInSpace </a>, pois a mesma será utilizada para guardar todos seus ganhos nas aplicações.
            
            </p>
            <p>

              O sistema será utilizado para facilitar o processo de pagamento, o usuário poderá escolher o método de pagamento que desejar para adiquirir o ativo, como por exemplo, cartão de débito, boleto bancário, transferência bancária, etc.
            
            </p> 
            <p>

              Mineração? Não, a criptomoeda não será minerada, a unica forma de gerar o ativo será feita apartir da interação de usuários em diversas plataformas que serão desenvolvidas e integradas a Outerspace Blockchain.
            
            </p>
            <p>

              Além disso, o sistema possuíra um rápido e seguro sistema de transfêrencias, ou seja, o usuário poderá transferir dinheiro para outro usuário, sem que haja necessidade de ter um processo de pagamento. 
            
            </p>
              

            
            </p>
            
          </div>

          
        </div>

      </div>
    </section>