
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
     
        <div class="text-center">

            <%= image_tag "logo-small.png" %>
            <h1>Bem Vindo ao <span>Bank</span>In<span>Space</span></h1>
            <h2>O Banco para estudantes de todas galaxias!</h2>
            <br>
            <h2> Conheça também:</h2>
            <a href="https://devinspace.herokuapp.com" class="btn-menu animated fadeInUp scrollto">DevInSpace</a>

        </div>
      
    </div>
</section>