<header id="header" class="fixed-top d-flex align-items-center">
  
  
    <h1 class="logo me-auto me-lg-0">

        <a href="/" id="title-header">BankInSpace</a>
        
    </h1>

    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
      
          
        <nav id="navbar" class="navbar order-last order-lg-0">

      

            <ul>
           

                <li><a class="nav-link" href="/">Pagina Inicial</a></li>
                <li><a class="nav-link" href="/">Galeria</a></li>
            
                <li class="dropdown"><a href="/"><span>API</span></a>

                    <ul>

                        <li><a href="/">Documentação</a></li>
                


                        <li class="dropdown"><a href="/"><span></span> </a>

                            <ul>

                                <li><a href="/user_courses">Meus Cursos</a></li>
                                <li><a href="/user_classes">Minhas Aulas</a></li>
                                <li><a href="/user_tests">Meus Testes</a></li>

                            </ul>

                        </li>

                        <li><a href="/certs">Meus Certificados</a></li>

                        <li><a href="#">Minhas Medalhas</a></li>

                    </ul>

                </li>

            </ul>
      
        </nav>  
     
    </div>

</header>